.site-footer{background:#333;padding:5px 0}.site-info{background:#333;border-top:2px inset #999;color:#fff;padding:5px 15px}
.site-info a,.site-info a:visited{color:#008cba}ul.footerlist li{border-right:1px inset #777}
ul.footerlist li:last-child{border-right:0}.site-footer-grid{padding:10px 0}ul.footer-connect li{border-right:0}
.footermenu .menu{list-style:none}.footermenu .menu>li>a{color:#fff;font-size:1.3rem}
.footermenu ul li{border-right:0}li.recent-events div.event-background{background:0;padding:0}
li.recent-events div.event-background h4.widget-event-title{color:#fff}li.recent-events div.event-background p{color:#fff}
li.recent-events div.event-background p.event-time{margin-left:0;margin-top:0;font-size:1.1rem}
li.recent-events div.event-background a h5.event-title{color:#008cba}.footer-social-bar{margin-left:auto;margin-right:auto;display:block;text-align:center}