/*! Section 3 - Header */.site-header{padding-left:0;padding-right:0;padding-bottom:0;border-bottom:1px inset #eee}
.site-branding{padding-top:5px}.sitelogo{padding:0}.sitelogo a{display:block;text-align:center}
.donate{background:url(images/Donate-arrow.png);background-repeat:no-repeat;background-position:right;padding:0;margin-top:10px;height:61px}
.social-bar{padding-right:0}.social-icons{margin-top:10px}