h1.site-title a{color:#000;font-family:'Dancing Script',cursive;text-shadow:1px 2px #fff;font-size:4.05rem}
h1.site-title{margin-bottom:0;margin-top:-10px}h2.site-description{font-size:1.95rem;margin-top:-4px;font-family:'Lato',sans-serif}
p{font-family:'Lato',sans-serif}h1,h2,h3,h4,h5,h6{font-family:'Lato',sans-serif}
.footerlist h2{color:#fff}.footerlist h3{text-align:center;color:#fff;text-decoration:underline}
.footerlist p{color:#fff}.footerlist a,.footerlist a:visited{color:#fff}h4.donate-header{text-align:right;margin-top:7px;margin-right:20px;font-size:1.7rem;font-weight:bold;text-shadow:1px 2px #fff}
h2.section-title{text-align:center;margin-top:15px;font-family:'Dancing Script',cursive;font-size:2.7125rem}
h3.block-header{text-align:center;margin-bottom:10px;font-size:2.2rem;font-weight:bold;text-decoration:underline}
h3.quote-title{font-weight:bold;text-decoration:underline}blockquote,blockquote p{line-height:1.6;color:#6f6f6f;font-size:.85rem}
.blog-sidebar-title h3{font-family:'Dancing Script',cursive;text-decoration:underline;font-size:2.6875rem;text-align:center}
.blog-sidebar-title p{text-align:justify}