/*!  Section 2 - Body Styles */
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
@include linear-gradient(to right, #2F5F00 0%, #ffffff 70%, #2F5F00 10%);
}
.featured-container{margin: 30px 0;}
.pcleft{border-right: 2px solid #ccc;margin-top: 15px;}
.pcright{margin-top: 15px;}
.entry-header, .page-header{background: none;}
.entry-header h1.entry-title{text-decoration: underline;}
.entry-footer{background: none;color: #000;}
.entry-footer span a{color: #008CBA;}